@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300;1,400&family=Raleway:ital,wght@1,300;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: -90px;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
      circle at 73% 11%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 48% 73%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 99% 95%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 7% 76%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 3%,
      transparent 3%,
      transparent 100%
    ),
    radial-gradient(
      circle at 56% 95%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 80% 39%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 17% 72%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 68% 73%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 71% 40%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 28% 50%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 0% 27%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 7% 45%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 34% 64%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 7%,
      transparent 7%,
      transparent 100%
    ),
    radial-gradient(
      circle at 80% 24%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 15% 59%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 62% 67%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 73% 71%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 30% 40%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 73% 62%,
      rgba(255, 255, 255, 0.03) 0%,
      rgba(255, 255, 255, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 43% 93%,
      rgba(255, 255, 255, 0.01) 0%,
      rgba(255, 255, 255, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 15% 64%,
      rgba(255, 255, 255, 0.02) 0%,
      rgba(255, 255, 255, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    linear-gradient(135deg, rgb(38, 135, 57), rgb(56, 4, 65));
  clip-path: circle(30% at right 40%);
}
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      215deg,
      rgba(156, 156, 156, 0.03) 0%,
      rgba(156, 156, 156, 0.03) 50%,
      rgba(20, 20, 20, 0.03) 50%,
      rgba(20, 20, 20, 0.03) 100%
    ),
    linear-gradient(
      107deg,
      rgba(179, 179, 179, 0.03) 0%,
      rgba(179, 179, 179, 0.03) 50%,
      rgba(7, 7, 7, 0.03) 50%,
      rgba(7, 7, 7, 0.03) 100%
    ),
    linear-gradient(
      25deg,
      rgba(30, 30, 30, 0.01) 0%,
      rgba(30, 30, 30, 0.01) 50%,
      rgba(165, 165, 165, 0.01) 50%,
      rgba(165, 165, 165, 0.01) 100%
    ),
    linear-gradient(
      146deg,
      rgba(54, 54, 54, 0.03) 0%,
      rgba(54, 54, 54, 0.03) 50%,
      rgba(246, 246, 246, 0.03) 50%,
      rgba(246, 246, 246, 0.03) 100%
    ),
    linear-gradient(
      225deg,
      rgba(8, 8, 8, 0.01) 0%,
      rgba(8, 8, 8, 0.01) 50%,
      rgba(133, 133, 133, 0.01) 50%,
      rgba(133, 133, 133, 0.01) 100%
    ),
    linear-gradient(
      38deg,
      rgba(57, 57, 57, 0.02) 0%,
      rgba(57, 57, 57, 0.02) 50%,
      rgba(196, 196, 196, 0.02) 50%,
      rgba(196, 196, 196, 0.02) 100%
    ),
    linear-gradient(
      122deg,
      rgba(115, 115, 115, 0.02) 0%,
      rgba(115, 115, 115, 0.02) 50%,
      rgba(101, 101, 101, 0.02) 50%,
      rgba(101, 101, 101, 0.02) 100%
    ),
    linear-gradient(
      154deg,
      rgba(217, 217, 217, 0.01) 0%,
      rgba(217, 217, 217, 0.01) 50%,
      rgba(126, 126, 126, 0.01) 50%,
      rgba(126, 126, 126, 0.01) 100%
    ),
    linear-gradient(
      144deg,
      rgba(204, 204, 204, 0.01) 0%,
      rgba(204, 204, 204, 0.01) 50%,
      rgba(139, 139, 139, 0.01) 50%,
      rgba(139, 139, 139, 0.01) 100%
    ),
    linear-gradient(90deg, rgb(0, 2, 29), rgb(4, 150, 89));
  clip-path: circle(20% at 10% 10%);
  z-index: 1;
}

.nav1 {
  border-radius: 12px;
}

.z {
  z-index: 1000;
}

.coat {
  height: 30px;
  width: 30px;
}
.cards {
  position: relative;
  max-width: 300px;
  height: 300px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0, 0, 0, 0.5);
  transition: 0.3 ease-in-out;
  z-index: 2;
  border-radius: 12px;
  box-shadow: inset 1px 1px 10px 1px white;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  background: w;
  overflow: hidden;
}

.cards:hover {
  height: 1000%;
}

.img_flag {
  width: 100%;

  z-index: 1;
}

.img_flag img {
  height: 100%;
  width: 100%;
  /* padding-bottom: 40px; */
  border-radius: 12px;
}

.img_flag img:hover {
  border-radius: 12px 12px 0 0;
}

.ull {
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  background: white;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  border-radius: 0 0 12px 12px;
}

.cards:hover .ull {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

.box {
  min-height: 89.5vh;
  background-image: url(https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-position: center;
  object-fit: cover;
  background-size: cover;
  background-attachment: fixed;
}

.row {
  border-radius: 30px;
  overflow-y: scroll;
  z-index: 10000;
}

.row::-webkit-scrollbar {
  display: none;
}

.content {
  padding: 20px;
  text-align: center;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.cards h5 {
  color: rgba(255, 255, 255, 0.929);
  pointer-events: none;
  font-size: 2em;
}

.cards a {
  color: rgb(107, 82, 82);
  border-radius: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.borders_div {
  column-count: 2;
}

.cards a:hover {
  color: black;
}

strong {
  font-weight: 900;
  font-size: 1em;
}

.loading {
  border-radius: 50%;
}

.containerr {
  background-image: url(https://images.pexels.com/photos/41949/earth-earth-at-night-night-lights-41949.jpeg?auto=compress&cs=tinysrgb&w=1600);
  background-size: cover;
  border-top: 5px dotted rgb(120, 92, 120);
  box-shadow: inset 0px 0px 40px 10px white;
}

.git {
  color: white;
}

.what {
  color: rgb(99, 248, 99);
}

@media (max-width: 768px) {
  body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(10% at right 10%);
  }
  body::after {
    clip-path: circle(20% at -5% 30%);
    z-index: 1;
  }
  .cards {
    padding: 0px;
  }
}
